aside {
    width: 220px;
    height: 100%;
    position: fixed;
    padding-bottom: 95px;
    z-index: 1;
}

.sidenav {
    background-color: gray;
    height: 100%;
    display: none;
}

.expanded-sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidenav-title {
    color: aliceblue;
}

.sidenav-links {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.sidenav-item {
    padding: 1rem;
    border-bottom: 2px solid white;
}

.sidenav-item.active-li {
    background-color: #999;
}

.expand-btn {
    position: absolute;
    top: 0;
    z-index: 1;
}

.expand-btn:focus {
    box-shadow: none;
}

.navbar-btn {
    display: none;
}

@media screen and (max-width: 768px) {

    .expand-btn {
        display: none;
    }

    .sidenav {
        display: none;
        height: 30rem;
        position: absolute;
        bottom: 150px;
        width: 100%;
        left: 15px;
    }

    .open-sidenav {
        display: flex;
    }

    .sidenav-title {
        display: none;
    }

    .sidenav-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }

    .sidenav-links li:last-child {
        border-bottom: none;
    }

    .navbar-btn {
        display: block;
        position: absolute;
        bottom: 105px;
        left: 10px;
    }
}