aside {
    width: 220px;
    height: 100%;
    position: fixed;
}

.sidebar-div {
    background-color: #757575;
    height: 100%;
}

.expanded {
    display: block;
}

.closed {
    display: none;
}

h3 {
    margin: 0;
    color: white;
}

li a {
    display: block;
}

.sidenav {
    margin: 0;
    padding: 0;
    width: 100%;
}

.sidenav-item {
    padding: 1rem;
    border-bottom: 2px solid white;
}

.active-li {
    background-color: #999;
}

.active {
    color: #252525;
}

.toggle-btn {
    position: absolute;
    top: 5px;
    border-radius: 0;
    background-color: #757575;
    color: white;
    font-weight: 700;
}

.toggle-btn:focus {
    box-shadow: none;
}

@media screen and (max-width: 768px) {
    aside {
        display: none;
    }
}