aside {
    background-color: #757575;
    height: 100%;
    width: 220px;
    position: fixed;
}

h3 {
    margin: 0;
}

li a {
    display: block;
}

.sidenav {
    margin: 0;
    padding: 0;
    width: 100%;
}

.sidenav-item {
    padding: 1rem;
    border-bottom: 2px solid white;
}

.active-li {
    background-color: #999;
}

.active {
    color: #252525;
}