.App {
  text-align: center;
}
 main {
  height: 100%;
  padding-bottom: 95px;
}

.expanded-sidebar {
  padding-left: 220px;
}

.expanded-navbar {
  padding-top: 181px;
}

@media screen and (max-width: 768px) {
  .expanded-sidebar {
    padding-left: 0;
  }
}